.button1{
  background-color:rgb(95,145,45);
  color:rgb(129,10,110);
  font-size: 20px;
  font-style: bold;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
  width: 150px;
  height:50px;
  border-top-color: blue;
  border-right-color: brown;
  border-left-color: burlywood;
  border-bottom-color: red;
  border-style: solid;
  border-width: 5px;
  border-radius: 30px;
  cursor: pointer;
  margin: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  transition: opacity 0.8s, background-color 0.7s;
  box-shadow: 10px 10px 30px rgb(220,12,30);

}
.button1:hover{
  opacity:0.8;
  background-color: rgb(129,10,10);
  color: white;
  box-shadow: 6px 6px 20px rgb(220,12,30);
}
.button1:active{
  opacity:0.9;
  border-radius: 50px;
}
.button2{
  background-color:rgb(195,145,145);
  color:rgb(102,30,20);
  font-size: 20px;
  font-style: bold;
  width: 150px;
  height:50px;
  border-top-color: blue;
  border-right-color: brown;
  border-left-color: lawngreen;
  border-bottom-color: red;
  border-style: solid;
  border-width: 4px;
  border-radius: 20px;
  cursor:zoom-in;
  transition: opacity 0.6s, background-color 0.6s, box-shadow 0.5s;
}
.button2:hover{
  opacity:0.8;
  background-color: rgb(129,10,10);
  color: white;
  box-shadow: 5px 5px 7px rgb(220,12,30);
}
.button2:active{
  opacity:0.9;
  border-radius: 10px;
}
